/* layout.css */

@import url("themes/variables.css");

/* Contenedor principal de la aplicación */
.app-container {
  display: flex;
  background-color: var(--Fondo-paginas);
  height: calc(100vh - 2rem);
  min-height: calc(100vh - 2rem);
  width: 100vw;
  box-sizing: border-box;
}

/* Contenido principal */
.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

#app-container {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Oculta modal antes de cargar tablas de feedback tracker */
.view {
  display: none;
  height: 100%;
  overflow-y: auto;
}

.view.active {
  display: block;
}
